.banner {
  width: 100%;
  min-height: 215px;
  background: url("/app/play/detailbg.jpg") no-repeat left top;
  background-size: cover;
  text-align: right;
  cursor: pointer;
}
.center {
  width: 300px;
  position: absolute;
  left: 50%;
  top: 50px;
  margin-left: -251px;
  /* margin-top: -275px; */
  color: #ec6293;
  font-size: 41px;
}

body {
      cursor: pointer;
}
