<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand"
          href="/stats">
        <img alt="Brand"
            src="https://trotro.1000mercis.com/styles/img/trotro-small.png">
      </a>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <iframe src="https://dco.mmtro.com/a?tagid=6557503-496b3deb8bd57582ddfa86ac256c47bf&campid=0&banid=1133"

        frameborder="0"
        allowtransparency="true"
        marginwidth="0"
        marginheight="0"
        scrolling="no"
        width="728"
        height="90"></iframe>
  </div>
<!-- <div class="row">
  <p>Open your browser's JavaScript console to see what's happening (hit F12).</p>
  <button (click)="get_scores()">All scores</button>
  <button (click)='get_score("0853409603dc5025bb80f48011109397")'>Score for user</button>
  <button (click)='rt_scores()'>RT scores</button>
  <button (click)='rt_score("0853409603dc5025bb80f48011109397")'>RT score for user</button>
  <button (click)='rt_top_by_country()'>RT top countries</button>
</div> -->
  <div class="row">
    <table class="table  table-sm" style="background-color: white;">
      <thead>
        <tr>
          <th>id</th>
          <th>Team</th>
          <th>N + E</th>
          <th>Score</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let score of scores">
          <td>{{score.id_user}}</td>
          <td>{{users[score.id_user].team}}</td>
          <td>{{users[score.id_user].name}}</td>
          <td>{{score.total_score}}</td>

        </tr>

      </tbody>
    </table>
  </div>
</div>
