form {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #ec6293;
  font-weight: bolder;
  font-size: 25px;
}
form * {
  display: inline;
  float: right;
}
.name-input {
  height: 60px;
  font-size: 20px;
}

.ng-valid[required] {
    border-color: rgb(0, 255, 0);
}

.ng-invalid {
    border-color: rgb(255, 0, 0);
}

.ng-pristine {
    border-color: rgb(200, 200, 200);
}
