.banner {
    margin-top: 30px;
    color: #ec6293;
    font-weight: bolder;
    font-size: 25px;
    padding-top: 100px;
    text-align: right;
}
.banner img{
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  filter: opacity(0.3);

}
.absolute {
  position: absolute;
  top: 50px;
  right: 50px;
}
.name-input {
  height: 60px;
  font-size: 20px;
}
