<div class="container">
  <div class="row">
    <div class="banner col-xs-12">
      <div class="absolute">
        <div class="row">
          <div class="col-xs-5 col-xs-offset-1 items" *ngFor="let team of teams">
            <div style="margin-bottom:13px; text-align: center; cursor: pointer"
                 (click)="createUser(team)">
              <div style="font-size: 50px;" class="fa {{team.icon}}"></div>
              <div>{{team.name}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <video id="video" width="640" height="480" autoplay></video>
  <canvas id="canvas" width="640" height="480"></canvas>
</div>
