<div class="container">
  <div class="row">
    <div class="banner col-xs-12">
      <img src="assets/Decibels-Productions_Artiste_ane-trotro-1.jpg" class="background" />
      <div class="absolute">
        <div class="row">
            <div class="col-md-4 items"
                *ngFor="let team of teams; "
                style="margin-bottom:13px; text-align: center"
                (click)="createUser(team)">
                <div style="font-size: 50px;" class="fa {{team.icon}}"></div>
                <div>{{team.name}}</div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
