<div class="container">
  <div class="row">
    <div class="col col-lg-12">
        <div id="seconds" class="timer_box"><h1>{{counter}}</h1><p>Question</p></div>
        <div id="seconds" class="timer_box"><h1>{{countdown}}</h1><p>Second</p></div>
    </div>
  </div>
  <div class="row"
      *ngIf="question">
    <div class="col col-lg-12">
      <h1 style="text-align: center; margin-top: 0;">{{question.text}}</h1>
    </div>
  </div>
  <div *ngIf="question">
    <div class="row">
      <div class="col-md-12 btn
                  btn-primary
                  btn-custom-question"
          *ngFor="let answer of question.answers; "
          style=""
          (click)="selectAnswer(answer)">
        {{answer}}
      </div>
    </div>
  </div>
  <div *ngIf="counter > 4">
    <div id="pikachu">
    </div>
  </div>
  <div *ngIf="counter > 9">
    <div id="salameche">
    </div>
  </div>
  <div *ngIf="counter > 14">
    <div id="carapuce">
    </div>
  </div>
  <div *ngIf="counter > 19">
    <div id="bulbizarre">
    </div>
  </div>
</div>
