<div class="row">
  <div class="col col-lg-6">

    <form>
      <input type="text" required id="name-input"
      placeholder="What's your country?" autofocus="true"
      class="form-control name-input"
      [(ngModel)]="userService.user.country"
      [formControl]="country"
      (keyup)=filter()
      >
    </form>
  </div>
</div>
<div class="row">

    <div *ngIf="filteredList.length > 0">
        <div (click)="select(item)" class="col col-lg-4" *ngFor="#item of filteredList" >
          <div class="flag-wrapper">
            <div class="img-thumbnail flag flag-icon-background flag-icon-{{countryMap[item]}}"
            title="{{item}}"
            id="{{countryMap[item]}}"></div>
          </div>
        </div>
    </div>


    <button type="submit" class="next"
    [disabled]="!country.valid" (click)="submit()">Next!</button>
</div>