.banner {
    margin-top: 30px;
    color: #ec6293;
    font-weight: bolder;
    font-size: 25px;
    padding-top: 100px;
    text-align: right;
}
.banner .title{
  position: absolute;
  right: 10px;
  top: 230px;
}
.play-btn {
    background-color: #ec6293;
    color: white;
    font-size: 50px;
    position: absolute;
    top: 90px;
    right: 50px;
}
